@import "./src/assets/styles/vars";

.breadcrumbs {
  margin: 43px 0 38px;
  display: flex;
  align-items: center;

  a {
    font-weight: 500;
    font-size: 14px;
    color: $content-500;
    margin-right: 33px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: calc(50% - 8px);
      right: -24px;
      height: 16px;
      width: 16px;
      display: inline-block;
      background-image: url("../../../../src/assets/images/arrow.svg");
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  span {
    font-weight: 500;
    font-size: 14px;
    color: $content-300;
  }
}